@import "tailwindcss";
@font-face {
  font-family: 'Rekalgera';
  src: url('/fonts/Rekalgera-Regular.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'SuperWoobly';
  src: url('/fonts/SuperWoobly-8MJIz.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: Rostey;
  src: url('/fonts/Rostey.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.animate-blob {
  animation: blob 7s infinite;
}

.animation-delay-2000 {
  animation-delay: 2s;
}

.animation-delay-4000 {
  animation-delay: 4s;
}

.toast {
  position: fixed;
  z-index: 9999; /* Ensure it appears above other elements */
}

@keyframes blob {
  0% {
    transform: translate(0px, 0px) scale(1);
  }
  33% {
    transform: translate(30px, -50px) scale(1.1);
  }
  66% {
    transform: translate(-20px, 20px) scale(0.9);
  }
  100% {
    transform: translate(0px, 0px) scale(1);
  }
}
